body {
    max-width: 900px;
}

textarea {
    font-family: monospace;
    min-height: 300px;
    display: block;
    width: 95%;
}

button {
    cursor: pointer;
}

pre {
    padding: 4px 0;
    width: 100%;
    overflow: auto;
}
pre code {
    background: gainsboro;
    padding: 4px 8px;
}

blockquote {
    border-left: 2px solid black;
    margin-left: 0;
    padding-left: 8px;
}

li,
li a {
    word-break: break-all;
}

button {
    height: 100%;
    word-wrap: break-word;
    -webkit-appearance: none;
    border-radius: 2px;
}

button#sync {
    background: #effaef;
}

button#async {
    background: #efeffa;
}